[Unit]
Description=SMTP to Slack transfer
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/smtp2slack
Environment="SLACK_WEBHOOK=https://WEBHOOK_URL"
#Environment="https_proxy=http://host:port"

[Install]
WantedBy=default.target
